@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&family=PT+Sans+Narrow:wght@400;700&display=swap');

* {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  color: #027EB6;
}

h1 {
    color: #006DAE;
}

